/* Paleta de colores
#d9f24f lemon
#4f26e9 lighviolet
#f2e8de white text
#1f1f1f dark text
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --themeColorWhite: #f2e8de;
    --themeColorBlack: #1f1f1f;
    --detailColorVi: #4f26e9;
    --detailColorLe: #d9f24f;
}
html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Darker Grotesque';
    font-weight: 500;
    font-size: 1.5rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding-top: 0px;
}

h1 {
    display: inline-block;
    font-family: 'Bebas Neue', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 80%;
    color:  var(--themeColorBlack);
    margin: 1rem;
}

h2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    color: var(--themeColorBlack);
    font-size: 4rem;
}

h3 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 80%;
    text-align: left;
    color: var(--themeColorBlack);
    padding-top: 3rem;
    padding-left: 3rem;
    margin: 0px;
}


.darkText{
    color: var(--themeColorWhite);
}
.lightText{
    color: var(--themeColorBlack);    
}


.mainGrid{
    display: grid;
    grid-template-columns: repeat(3,1FR);
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.christianH1 {
    grid-column: 1/1;
    grid-row: 1/1;
    padding-top: 2rem;
    
}

.frontendH1{
    grid-column: 3/3;
    grid-row: 1/1;
    padding-top: 2rem;
}


li>img{
    max-height: 3rem; /* 4 rem 1920 x 1080 y 2.5 rem notebook*/
    min-height: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    
}
.darkThemeMoving{
    background-color: var(--detailColorLe);
}

.lightThemeMoving{
    background-color: var(--detailColorVi);
}

.frontendDeveloper { /*containter*/
    min-height: 14vh;
    width: 100%;
    background-color: var(--detailColorVi);
    overflow: hidden;

}


.frontendDeveloper li{
    display: flex;
    width: 25vh;
    min-height: 100%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-family: 'Darker Grotesque';
    font-weight: 500;
    font-size: 5rem;
    background-color: var(--detailColorVi);

}

.frontDevDarkThemeMoving{
    color: var(--themeColorWhite);
}

.frontDevLightThemeMoving{ /*content*/
    color: var(--themeColorBlack);
    min-height: 100%;
    list-style: none;
    display: flex;
}

.movingRight{
    animation: scrollingR 17s linear infinite;
}
.movingLeft{
    animation: scrollingL 17s linear infinite;
}


/*Desde aca es el dropdown*/
.dropdown {
    font-size: 3rem;
    position: fixed;
    top: 1rem;
    right: 10rem;
    width: 15rem;
    height: auto;
    margin: 0px;
    z-index: 1;
}

.dropdownDark{
    color: var(--themeColorWhite);
    border: 2px solid var(--themeColorWhite);
}
.dropdownLight{
    color: var(--themeColorBlack);
    border: 2px solid var(--themeColorBlack);


}

.dropdown:hover{
    border-color: var(--detailColorVi);
}

.dropdownDark:hover .bannerDashboard{
    color: var(--themeColorWhite);
    letter-spacing: 1px;
    background-color: var(--detailColorVi);
}

.dropdownLight:hover .bannerDashboard{
    color: var(--themeColorWhite);
    letter-spacing: 1px;
    background-color: var(--detailColorVi);
}

.bannerDashboard {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    height: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0PX;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 0px;


}

/* .bannerDashboard>span{
}

.fixBorder{
} */
.darkThemeBanner {
    color: var(--themeColorBlack);
    background-color: var(--themeColorWhite);
    
}
.lightThemeBanner {
    color: var(--themeColorWhite);
    background-color: var(--themeColorBlack);
    
}

.bannerDashboard:hover{
    color: var(--themeColorWhite);
    background-color: var(--detailColorVi);
}

.bannerDashboard:hover .dropdown{
    border-color: var(--detailColorVi);
}

/*Dashboard -- elements*/
/* span:nth-child(1) {
} */
span:nth-child(2) {
    /*btn dropdown*/
    margin-left: 5rem;
}

/*Page sections*/
nav {
    padding-left: 0;
    font-family: 'Bebas Neue';
}

ul {
    padding-left: 1.5rem;
}

li {
    list-style-type: none;
    display: flex;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.selectNext:hover {
   transform: translate(0.5em);
   cursor: pointer;

}

.userHereLight {
    color: var(--detailColorLe);
}

.userHereDark{
    color: var(--detailColorVi);
}

/*dots*/
.lightDot {
    margin: auto;
    background-color: var(--detailColorVi);
    width: 0.4em;
    height: 0.4em;
    margin-right: 1rem;
    border-radius: 9999px;

}

.darkDot{
    margin: auto;
    background-color: var(--detailColorLe);
    width: 0.4em;
    height: 0.4em;
    margin-right: 1rem;
    border-radius: 9999px;
}

a{
    color: inherit;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: inherit;

}

.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    font-size: 4rem;
    border-bottom: 0px;

}

.projects div{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
}
.projects ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.projects span{
    color: #1f1f1f;
    border-radius: 10%;
    padding-top: 2em;
    padding-bottom: 2em;
}


.webProjects a{
    display: flex;
    
    min-height: 25rem;
    width: 15rem;
}

.web1{
    background-image: url(../Media/TimbtowerMini.png);
    background-size: 15rem 25rem ;
    background-repeat: no-repeat;
    background-position: center;
}

.web2{
    background-image: url(../Media/IGpostMini.png);
    background-size: 15rem 25rem ;
    background-repeat: no-repeat;
    background-position: center;

}

.web3{
    background-image: url(../Media/hokuMini.png);
    background-size: 15rem 25rem ;
    background-repeat: no-repeat;
    background-position: center;
}

.web4{
    background-image: url(../Media/slprodMini.png);
    background-size: 15rem 25rem ;
    background-repeat: no-repeat;
    background-position: center;
}


.blender3D>li>span{
    height: 30rem;
    width: 15rem;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.blender3D>li>span:nth-child(3){
    
    background-image: url(../Media/blender/icecreamsadwich-min.png);
    background-position: 10em;
}

/*link text*/
.blender3D>li>span>a{
    color: #f2e8de;
    font-size: 2rem;
}

.blend1{
    background-image: url(../Media/blender/factory-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.blend2{
    background-image: url(../Media/blender/glowhouse-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.blend3{
    background-image: url(../Media/blender/icecreamsadwich-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.blend4{
    background-image: url(../Media/blender/copCar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}








/*Dark/Light Mode*/

.DLMode {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

.DLModeBox{
    display: flex;
    align-items: center;
}


.tooltipText{
    display: flex;
    height: 4rem;
    width: 10rem;
    position: absolute;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    transform:rotate(20deg);
}

.darkTooltip{
    color: var(--themeColorBlack);
    background-color:var(--detailColorLe);
}

.lightTooltip{
    color: var(--themeColorWhite);
    background-color: var(--detailColorVi);
}


.dark:hover  .tooltipText{
    visibility: visible;
    margin-bottom: 4rem;
    margin-left: 4rem;
}

.light:hover  .tooltipText{
    visibility: visible;
    margin-bottom: 4rem;
    margin-left: 4rem;
}



input{
   appearance: none;
   background: none;
   border-radius: 50%;
}
.darkThemeInput{
    border: 4px solid var(--themeColorBlack);
    box-shadow: 0 0 0 2px var(--themeColorWhite);
}

.lightThemeInput{
   border: 4px solid var(--themeColorWhite);
   box-shadow: 0 0 0 2px var(--themeColorBlack);
}

input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    margin: 0px;
    cursor: pointer;
}

.lightThemeInput[type="radio"]:checked {
    background: var(--detailColorVi);

}

.darkThemeInput[type="radio"]:checked {
    background: var(--detailColorLe);

}

label {
    cursor: pointer;
    padding-bottom: 0.25rem;
    padding-left: 0.5em;
}

.hide{
    display: none;
}
/*aca termina el dropdown*/

.about{
    display: flex;
    flex-direction: column;
    padding-right: 8rem;
    padding-left: 8rem;
    text-align: justify;
    text-justify: inter-word;
}
.about h3,
.contact h3{
    padding-bottom: 1rem;
    text-align: center;
}
.about span{
    font-size: 1.2em;
    text-align: justify;
    font-weight: 700;
    line-height: 1.2;
    background-color: #6d6d6d;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact a svg{
    align-items: center;
    height: 8rem;
    width: 8rem;
    padding-bottom: 1rem;
}
/* .wip{} */
footer {
    color: rgb(0, 0, 0);
    width: 100%;
    height: 4em;
    font-weight: 600;
    margin-top: auto;
    padding-top: 1em;
}

footer p {
    text-align: center;
    margin: auto;
    background-color: var(--detailColorVi);
    font-family:'Darker Grotesque';
    font-style:normal;
    font-weight:600;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.darkFooter{
    border-top: solid 1px var(--themeColorWhite);
}
.lightFooter{
    border-top: solid 1px var(--themeColorBlack);

}






/*ANIMATIONS*/
@keyframes scrollingL {
    0%{transform: translateX(0);}
    100%{transform: translateX(-190vh);}   
}

@keyframes scrollingR {
    0%{transform: translateX(-190vh);}
    100%{transform: translateX(0vh);}   
}