/* Paleta de colores
#d9f24f lemon
#4f26e9 lighviolet
#f2e8de white text
#1f1f1f dark text
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --themeColorWhite: #f2e8de;
    --themeColorBlack: #1f1f1f;
    --detailColorVi: #4f26e9;
    --detailColorLe: #d9f24f;
}
html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--themeColorWhite);
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--themeColorWhite);
    font-family: 'Darker Grotesque';
    font-weight: 500;
    font-size: 1.5rem;
}

header {
    display: flex;
    height: auto;
    padding-top: 0px;
}

h1 {
    display: inline-block;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 80%;
    color:  var(--themeColorBlack);
    margin: 1rem;
}

h2 {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: var(--themeColorBlack);
    font-size: 4rem;
}

h3 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 80%;
    text-align: left;
    color: var(--themeColorBlack);
    padding-top: 3rem;
    padding-left: 3rem;
    margin: 0px;
}

.mainGrid{
    display: grid;
    grid-template-columns: repeat(3,1FR);
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.christianH1 {
    grid-column: 1/1;
    grid-row: 1/1;
    padding-top: 2rem;
}

.frontendH1{
    grid-column: 3/3;
    grid-row: 1/1;
    padding-top: 2rem;
}


li>img{
    max-height: 5rem;
    
}
.darkThemeMoving{
    background-color: var(--detailColorLe);
}

.lightThemeMoving{
    background-color: var(--detailColorVi);
}

.frontendDeveloper { /*containter*/
    height: 10vh;
    width: 100%;
    background-color: var(--detailColorVi);
    overflow: hidden;

}


.frontendDeveloper li{
    display: flex;
    width: 25vh;
    height: 100%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-family: 'Darker Grotesque';
    font-weight: 500;
    font-size: 5rem;
    background-color: var(--detailColorVi);

}

.frontDevDarkThemeMoving{
    color: var(--themeColorWhite);
}

.frontDevLightThemeMoving{ /*content*/
    color: var(--themeColorBlack);
    height: 100%;
    list-style: none;
    display: flex;
}

.movingRight{
    animation: scrollingR 17s linear infinite;
}
.movingLeft{
    animation: scrollingL 17s linear infinite;
}



/*Desde aca es el dropdown*/
.dropdown {
    font-size: 3rem;
    position: fixed;
    top: 1rem;
    right: 10rem;
    width: 15rem;
    height: auto;
    margin: 0px;
    z-index: 1;
}

.dropdownDark{
    color: var(--themeColorWhite);
    border: 2px solid var(--themeColorWhite);
}
.dropdownLight{
    color: var(--themeColorBlack);
    border: 2px solid var(--themeColorBlack);


}

.dropdown:hover{
    border-color: var(--detailColorVi);
}

.dropdownDark:hover .bannerDashboard{
    color: var(--themeColorWhite);
    letter-spacing: 1px;
    background-color: var(--detailColorVi);
}

.dropdownLight:hover .bannerDashboard{
    color: var(--themeColorWhite);
    letter-spacing: 1px;
    background-color: var(--detailColorVi);
}

.bannerDashboard {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    height: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0PX;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 0px;


}

.bannerDashboard>span{
}

.fixBorder{
}
.darkThemeBanner {
    color: var(--themeColorBlack);
    background-color: var(--themeColorWhite);
    
}
.lightThemeBanner {
    color: var(--themeColorWhite);
    background-color: var(--themeColorBlack);
    
}

.bannerDashboard:hover{
    color: var(--themeColorWhite);
    background-color: var(--detailColorVi);
}

.bannerDashboard:hover .dropdown{
    border-color: var(--detailColorVi);
}

/*Dashboard -- elements*/
span:nth-child(1) {
}
span:nth-child(2) {
    /*btn dropdown*/
    margin-left: 5rem;
}

/*Page sections*/
nav {
    padding-left: 0;
    font-family: 'Bebas Neue';
}

ul {
    padding-left: 1.5rem;
}

li {
    list-style-type: none;
    display: flex;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.selectNext:hover {
   transform: translate(0.5em);
   cursor: pointer;

}

.userHereLight {
    color: var(--detailColorLe);
}

.userHereDark{
    color: var(--detailColorVi);
}

/*dots*/
.lightDot {
    margin: auto;
    background-color: var(--detailColorVi);
    width: 0.4em;
    height: 0.4em;
    margin-right: 1rem;
    border-radius: 9999px;

}

.darkDot{
    margin: auto;
    background-color: var(--detailColorLe);
    width: 0.4em;
    height: 0.4em;
    margin-right: 1rem;
    border-radius: 9999px;
}

a{
    color: inherit;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: inherit;

}


/*Dark/Light Mode*/

.DLMode {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

.DLModeBox{
    display: flex;
    align-items: center;
}


.tooltipText{
    display: flex;
    height: 4rem;
    width: 10rem;
    position: absolute;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    transform:rotate(20deg);
}

.darkTooltip{
    color: var(--themeColorBlack);
    background-color:var(--detailColorLe);
}

.lightTooltip{
    color: var(--themeColorWhite);
    background-color: var(--detailColorVi);
}


.dark:hover  .tooltipText{
    visibility: visible;
    margin-bottom: 4rem;
    margin-left: 4rem;
}

.light:hover  .tooltipText{
    visibility: visible;
    margin-bottom: 4rem;
    margin-left: 4rem;
}



input{
   appearance: none;
   background: none;
   border-radius: 50%;
}
.darkThemeInput{
    border: 6px solid var(--themeColorBlack);
    box-shadow: 0 0 0 1px var(--themeColorWhite);
}

.lightThemeInput{
   border: 6px solid var(--themeColorWhite);
   box-shadow: 0 0 0 1px var(--themeColorBlack);
}



input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    margin: 0px;
    cursor: pointer;
}

.lightThemeInput[type="radio"]:checked {
    background: var(--detailColorVi);

}

.darkThemeInput[type="radio"]:checked {
    background: var(--detailColorLe);

}

label {
    cursor: pointer;
    padding-bottom: 0.25rem;
    padding-left: 0.5em;
}

.hide{
    display: none;
}
/*aca termina el dropdown*/

footer {
    
    color: gray;
    width: 100%;
    height: 4em;
    text-align: center;
    padding-top: 0.2%;
}

.darkFooter{
    border-top: solid 1px var(--themeColorWhite);
}
.lightFooter{
    border-top: solid 1px var(--themeColorBlack);

}

footer p {
    font-family:'Darker Grotesque';
    font-style:normal;
    font-weight:500;
    font-size: 2rem;
    height: 8.75rem ;
   
}





/*ANIMATIONS*/
@keyframes scrollingL {
    0%{transform: translateX(0);}
    100%{transform: translateX(-190vh);}   
}

@keyframes scrollingR {
    0%{transform: translateX(-190vh);}
    100%{transform: translateX(0vh);}   
}