/* Paleta de colores
#d9f24f lemon
rgb(79, 38, 233) lighviolet
#f2e8de white text
#1f1f1f background
*/

html,
body {
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1f1f1f;
    font-family: 'Darker Grotesque';
    font-weight: 500;
    font-size: 1.5rem;
}

header {
    display: flex;
    height: auto;
    padding-top: 0px;

}

h1 {
    display: inline-block;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 80%;
    color: #fff;
    margin: 1rem;
    animation: frontBorder 1S ease-out;
}

h2 {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 4rem;
}

h3 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 80%;
    text-align: left;
    color: #fff;
    padding-top: 3rem;
    padding-left: 3rem;
    margin: 0px;
}

.mainGrid{
    display: grid;
    grid-template-columns: repeat(3,1FR);
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.christianH1 {
    grid-column: 1/1;
    grid-row: 1/1;
    padding-top: 2rem;
}

.frontendDeveloper {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 8rem;
    width: 100%;
    top: 18rem;
    background-color: #d6f334;

}
.frontendDeveloper span{
    display: inline-block;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 80%;
    color: #1f1f1f;
}

/*Desde aca es el dropdown*/
.dropdown {
    position: fixed;
    top: 1rem;
    right: 4rem;
    border: 2px solid #f2e8de;
    width: 12rem;
    margin: 0px;
}

.dropdownDark{
    color: #f2e8de;
    border: 2px solid #f2e8de;
}
.dropdownLight{
    color: #1f1f1f;
    border: 2px solid #1f1f1f;

}

.dropdown:hover{
    border-color: #4f26e9;
}

.dropdownDark:hover .bannerDashboard{
    color: #f2e8de;
    letter-spacing: 1px;
    background-color: #4f26e9;
}

.dropdownLight:hover .bannerDashboard{
    color: #f2e8de;
    letter-spacing: 1px;
    background-color: #4f26e9;
}

.bannerDashboard {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    height: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 0px;
    padding-left: 1rem;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0PX;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 0px;


}

.fixBorder{
}
.darkThemeBanner {
    color: #1f1f1f;
    background-color: #f2e8de;
    
}
.lightThemeBanner {
    color: #f2e8de;
    background-color: #1f1f1f;
    
}

.bannerDashboard:hover{
    color: #f2e8de;
    background-color: #4f26e9;
}

.bannerDashboard:hover .dropdown{
    border-color: #4f26e9;
}

/*Dashboard -- elements*/
span:nth-child(1) {
}
span:nth-child(2) {
    /*btn dropdown*/
    margin-left: 5rem;
}

/*Page sections*/
nav {
    padding-left: 0;
    font-family: 'Bebas Neue';
}

ul {
    padding-left: 1.5rem;
}

li {
    list-style-type: none;
    display: flex;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.selectNext:hover {
   transform: translate(0.5em);
   cursor: pointer;

}

.userHereLight {
    color: #d9f24f;
}

.userHereDark{
    color: #4f26e9;
}

/*dots*/
.lightDot {
    margin: auto;
    background-color: #4f26e9;
    width: 0.4em;
    height: 0.4em;
    margin-right: 1rem;
    border-radius: 9999px;

}

.darkDot{
    margin: auto;
    background-color: #d9f24f;
    width: 0.4em;
    height: 0.4em;
    margin-right: 1rem;
    border-radius: 9999px;
}

a{
    color: inherit;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: inherit;

}


/*Dark/Light Mode*/

.DLMode {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

.DLModeBox{
    display: flex;
    align-items: center;
}


.tooltipText{
    position: absolute;
    visibility: hidden;
    display: flex;
    width: 8rem;
    font-weight: 600;
    font-size: 1.5rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    transform:rotate(20deg);
}

.darkTooltip{
    color: #1f1f1f;
    background-color:#d9f24f;
}

.lightTooltip{
    color: #f2e8de;
    background-color: #4f26e9;
}


.dark:hover  .tooltipText{
    visibility: visible;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.light:hover  .tooltipText{
    visibility: visible;
    margin-bottom: 2rem;
    margin-left: 4rem;
}



input{
   appearance: none;
   background: none;
   border-radius: 50%;
}
.darkThemeInput{
    border: 6px solid #1f1f1f;
    box-shadow: 0 0 0 1px #f1f1f1;
}

.lightThemeInput{
   border: 6px solid #f1f1f1;
   box-shadow: 0 0 0 1px #1f1f1f;
}



input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    margin: 0px;
    cursor: pointer;
}

.lightThemeInput[type="radio"]:checked {
    background: #4f26e9;

}

.darkThemeInput[type="radio"]:checked {
    background: #d9f24f;

}

label {
    cursor: pointer;
    padding-bottom: 0.25rem;
    padding-left: 0.5em;
}

.hide{
    display: none;
}
/*aca termina el dropdown*/

footer {
    background-color: #1f1f1f;
    color: gray;
    width: 100%;
    height: 4em;
    text-align: center;
    border-top: solid 1px #f2e8de;
    padding-top: 0.2%;

}

footer p {
    font-family:'Darker Grotesque';
    font-style:normal;
    font-weight:500;
    font-size: 2rem;
    height: 8.75rem ;
   
}





