/*ADD to top index
<div class="background">
    <svg class="blops blop1" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path class="path" d="M22.6,-24.7C37.8,-14.1,64.5,-15.1,76.8,-4.7C89.1,5.6,87,27.3,76.9,43.9C66.7,60.4,48.5,71.7,28.7,79C8.9,86.3,-12.4,89.4,-23.2,78.9C-34.1,68.4,-34.5,44.3,-43.3,26.3C-52,8.4,-69.2,-3.4,-70.9,-15.8C-72.7,-28.2,-59.1,-41.3,-44.7,-52C-30.4,-62.7,-15.2,-71.2,-5.7,-64.3C3.7,-57.5,7.4,-35.3,22.6,-24.7Z" transform="translate(100 100)" />
      </svg>
      <svg class="blops blop2" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path class="path" d="M24,-8.5C29.8,10,32.2,28.8,18.8,42.5C5.3,56.3,-24,64.8,-34.8,55.2C-45.7,45.6,-38.1,17.9,-29.2,-4.9C-20.3,-27.6,-10.1,-45.4,-0.5,-45.2C9.1,-45,18.2,-27,24,-8.5Z" transform="translate(100 100)" />
      </svg>
      <svg class="blops blop3" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path class="path" d="M41,21.8C28.4,45.6,-23.8,44.8,-37.3,20.5C-50.7,-3.8,-25.3,-51.4,0.8,-51C26.9,-50.5,53.7,-2,41,21.8Z" transform="translate(100 100)" />
      </svg>
      <svg class="blops blop4" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path class="path" d="M56.8,-45.3C71.2,-42.4,78.9,-21.2,71.7,-7.2C64.5,6.8,42.4,13.6,28,20C13.6,26.4,6.8,32.4,-6.4,38.8C-19.7,45.3,-39.3,52.1,-50.2,45.7C-61.1,39.3,-63.2,19.7,-64.1,-0.9C-65,-21.4,-64.5,-42.7,-53.6,-45.6C-42.7,-48.5,-21.4,-32.9,-0.1,-32.8C21.2,-32.7,42.4,-48.1,56.8,-45.3Z" transform="translate(100 100)" />
      </svg>*/
/*this css will be add to the blops feature as an optional "mode"*/
html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family:'Libre Franklin','Odibee Sans','Poppins', sans-serif;
    
}
.background{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.452);
}
.background .blops{
    position: absolute;
    height: 50%;
    width: 50%;
    animation: blops 50s linear infinite both;
   /*  filter: blur(3em); */
}
.background .blop1{
    top: 0%;
    left: 0%;
}
.background .blop1 .path{
    fill: rgba(255, 0, 212, 0.425);
}

.background .blop2{
    top: 0%;
    right: 0%;
}
.background .blop2 .path{
    fill: rgba(0, 255, 255, 0.425); 
}
.background .blop3{
    bottom: 0%;
    left: 0%;
}
.background .blop3 .path{
    fill: rgba(0, 255, 255, 0.425);
}
.background .blop4{
    bottom: 0%;
    right: 0%;
}
.background .blop4 .path{
    fill: rgba(255, 0, 212, 0.425);
    
}
@keyframes blops{
    from{
        transform: rotate(0deg) scale(3);
    }
    to{
        transform: rotate(360deg) scale(3);
    }
}
header{
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
    background-color:#000;
    text-align: center;
    

}
h1{
    font-family:'Poppins';
    font-style:normal;
    font-weight: bold;
    font-size:4rem;
    color: #fff;
    padding-top: 5%;
    margin: 0px;
}

h2{
    font-family:'Odibee Sans';
    text-align: center;
    justify-content: center;
    color: #fff;
    padding: 1%;
    margin-bottom: 0px;
    
}
.contactMe{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 10%;
    background-color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    margin: 0px;
}
a,svg{
    color: #fff;
}
.trabajos{
    background-color: #000;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
}


h2 p{
    display: inline;
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
    margin: 3%;
    font-size: 2rem;
    border-bottom: 1px solid #fff;
}
ul{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    height: 20em;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    
}
.DDDcard{
    height: 100%;
}

div ul li{
    background-color: #000;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img{
    height:100%;
    width:100%;
}
.contactMe section{
    background-color:#000;
    color: #fff;
    text-align: center;
    margin: 0;
}
section{
    width: 100%;
    height:max-content;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
}
footer{
    background-color: rgba(0, 0, 0, 0.900);
    color: gray;
    width: 100%;
    text-align: center;
    justify-content: center;
}